In [19]:
import yfinance as yf
import pandas as pd

In [37]:
tickers =["SPY", "AAPl", "MSFT"]

main_df= pd.DataFrame()

# acquiring data from yahoo
for ticker in tickers:
    

    #get data on this ticker
    tickerData = yf.Ticker(ticker)

    #get the historical prices for this ticker
    tickerDf = tickerData.history(period='1d', start='2000-1-1', end='2020-6-1')

    #see your data
    print(tickerDf.head())
    main_df["{}".format(ticker)]=(tickerDf["Close"])
    main_df["{}_vol".format(ticker)]=(tickerDf["Volume"])


main_df.head()

              Open    High    Low  Close    Volume  Dividends  Stock Splits
Date
2000-01-03  100.87  100.87  97.90  98.96   8164300        0.0             0
2000-01-04   97.66   98.02  95.01  95.09   8089800        0.0             0
2000-01-05   95.22   96.30  93.39  95.26  12177900        0.0             0
2000-01-06   95.00   96.28  93.73  93.73   6227200        0.0             0
2000-01-07   95.47   99.17  95.30  99.17   8066500        0.0             0
            Open  High   Low  Close     Volume  Dividends  Stock Splits
Date
2000-01-03  3.24  3.48  3.14   3.46  133949200        0.0           0.0
2000-01-04  3.35  3.42  3.13   3.17  128094400        0.0           0.0
2000-01-05  3.21  3.42  3.18   3.22  194580400        0.0           0.0
2000-01-06  3.28  3.31  2.94   2.94  191993200        0.0           0.0
2000-01-07  2.98  3.12  2.95   3.08  115183600        0.0           0.0
             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2000-01-03  37.55  37.95  35.83  37.29  53228400        0.0           0.0
2000-01-04  36.33  37.47  35.91  36.03  54119000        0.0           0.0
2000-01-05  35.55  37.23  34.99  36.41  64059600        0.0           0.0
2000-01-06  35.89  36.43  34.67  35.19  54976600        0.0           0.0
2000-01-07  34.75  35.91  34.33  35.65  62013600        0.0           0.0

              SPY   SPY_vol  AAPl   AAPl_vol   MSFT  MSFT_vol
Date
2000-01-03  98.96   8164300  3.46  133949200  37.29  53228400
2000-01-04  95.09   8089800  3.17  128094400  36.03  54119000
2000-01-05  95.26  12177900  3.22  194580400  36.41  64059600
2000-01-06  93.73   6227200  2.94  191993200  35.19  54976600
2000-01-07  99.17   8066500  3.08  115183600  35.65  62013600

In [38]:
main_df.to_csv('stock_data.csv')